@using News.Helpers
<div class="text-center"><h3>My Groups</h3></div>
<hr />
<div class="container">
    <div class="col-lg-12">
        <div class="col-lg-3 shadow-group active">
            <div class="row">
                <div class="col-md-4 col-xs-2">
                    @*<img src="@Consts.AzureImagePath@Model.Avatar" style="border-radius: 50%; width: 70px; height: 70px;">*@
                </div>
                <div class="col-md-8 col-xs-10" style="text-align: center;">
                    @*<h4 style="vertical-align: middle">@Model.Name</h4>*@
                    <btn class="openModalCreatePost btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Додати пост</span>
                    </btn>
                </div>

            </div>
        </div>
        @{Html.RenderAction("GetMyOrg", "Organisation");}
       
    </div>
</div>
