@using News.Helpers
@using Domain.Core.Entity;
@model List<Organisation>
@{
    var count = 0;
}
 @foreach (var item in Model)
 {
     ++count;
     if (count == 1)
     { continue;}


     <div class="col-lg-3 shadow-group">
         <div class="row">
             <div class="col-md-3 col-xs-2">
                 <img src="@Consts.AzureImagePath@item.Avatar" style="border-radius: 50%; width: 70px; height: 70px;">
             </div>
             <div class="col-md-9 col-xs-10" style="text-align: center;">
                 <h4 style="vertical-align: middle">@item.Name</h4>
                 <btn class="openModalCreatePost btn btn-primary">
                     <i class="glyphicon glyphicon-plus"></i>
                     <span>Додати пост</span>
                 </btn>
             </div>

         </div>
     </div>
       
 }
