@model Domain.Core.Entity.Organisation
@using News.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a @*href="@Url.Action("CreateNews", "News")"*@>
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add news</span>
</a>
<div class="row">
    <div class="col-md-1 col-xs-2">
        <img src="@Consts.AzureImagePath@Model.Avatar" style="border-radius: 50%; width: 70px; height: 70px;">
    </div>
    <div class="col-md-11 col-xs-10">
        <h4 style="vertical-align: middle">@Model.Name</h4>
    </div>
    <div class="openModalCreatePost">Додати пост</div>
</div>
@Html.Partial("_CreateNews", Model.Id)

<script>
    $(document).ready(function () {
        $(".openModalCreatePost").click(function () {
            $("#createNews").modal('show');
        });

        $(".createPost").click(function () {
            $("#uploadImage").submit();
        });
    });

</script>