@using News.Helpers
@model IEnumerable<Domain.Core.Entity.Organisation>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="container"> 
    <div class="row">
        @foreach (var org in Model)
        {
            <div class="list-group col-md-3" >
                <div class="list-group-item ">
                    <div class="post-avatar" style="display: table-cell; vertical-align: top">
                        <a href="@Url.Action("Details", "Organisation", new {id = org.Id})">
                            <img src="@Consts.AzureImagePath@org.Avatar" alt="">
                        </a>
                    </div>
                    <div style="display: table-cell; vertical-align: top; padding-left: 7px">
                        <h5>@org.Name</h5>

                    </div>

                </div>
            </div>
        }
    </div>

    </div>
