@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    
    <div class="container">
        <div class="row row-flex row-flex-wrap">
            <div class="col-md-3">
                <div class="panel panel-default flex-col">
                    <div class="panel-heading">Title flex-col</div>
                    <div class="panel-body flex-grow">Content here -- div with .flex-grow</div>
                    <div class="panel-footer">Footer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default flex-col">
                    <div class="panel-heading">Title flex-col</div>
                    <div class="panel-body flex-grow">Content here -- div with .flex-grow</div>
                    <div class="panel-footer">Footer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default flex-col">
                    <div class="panel-heading">Title flex-col</div>
                    <div class="panel-body flex-grow">Content here -- div with .flex-grow</div>
                    <div class="panel-footer">Footer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default flex-col">
                    <div class="panel-heading">Title flex-col</div>
                    <div class="panel-body flex-grow">Content here -- div with .flex-grow</div>
                    <div class="panel-footer">Footer</div>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <hr>

</div>