body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.avatar-menu {
    position: absolute;
    top: 15px;
    right: 35px;
}
.post-avatar > a > img {
    top: 10px;
    border-radius: 50%;
    max-height: 50px;
    max-width: 50px;
    min-height: 50px;
    min-width: 50px;
    
}
.content-news {
     word-wrap: break-word;
    padding: 10px 10px 10px 10px;
}
/*.container .panel-body {
    height: 170px;
    word-wrap: break-word;
}*/
.container .panel-default {
    height:300px;
}
.container .navbar navbar-default {
    margin-top: -49px;
}
    
.filter {
    vertical-align: top;
}
label {
    padding-right: 15px;
}

.chooseCategories {
    cursor: pointer;
}
.category {
    padding: 8px 0;
    margin: 5px 5px 10px 30px;
    border:1px #d8d8d8 solid;
    text-align: center;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
.category:hover {
    background: #d8d8d8;
    cursor: pointer;
} 
.subCategoryName {
    font-size: 30px; 
}
.container .panel-default img{
    height: 60%;
    width: 100%;
    background-size: cover;
}
  div.center-div {
    position: relative }


 .news-header {
     text-align: center;
     vertical-align: middle;
 } 
/*div.center-div p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}*/  
