body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.avatar-menu {
    position: absolute;
    top: 15px;
    right: 35px;
}
.post-avatar > a > img {
    top: 10px;
    border-radius: 50%;
    max-height: 50px;
    max-width: 50px;
    min-height: 50px;
    min-width: 50px;
    
}
.container .panel-body {
    height: 170px;
    word-wrap: break-word;
}
    
