@using News.Helpers
@model Domain.Core.Entity.NewsItem
@{
    string val = Model.index+ ".png";
}

    
<li class="news-list-item longread-list-item" data-longread-pubdate="2017-11-23T22:58:36">
    <div class="longread-block ">
        <a class="longread-block--img-holder" href="/articles/kak-delat-zakazyi-naaliexpress-sumom-10-klyuchevyih-nyuansov-371227/">
            <img title="@Model.Title" alt="Как делать заказы на&nbsp;Aliexpress с&nbsp;умом: 10 ключевых нюансов" width="293" height="250"
                 src="@Consts.AzureImagePath@Model.AvatarNews" class="longread-block--img">

        </a><!-- longread-block-img-holder -->
        <div class="longread-block-wrapper">
            <div class="longread-block-title">
                <a class="h2 longread-info--header" href="/articles/kak-delat-zakazyi-naaliexpress-sumom-10-klyuchevyih-nyuansov-371227/">
                    @Model.Title
                </a>
                <div class="h3 longread-info--subheader">@Model.Text</div>
            </div> <!-- longread-block-title -->
            <div class="longread-info">
                <a href="/articles/gajd/" class="longread-info--type">Гайд</a>
            </div>
            <div class="longread-likes">
                <a href="#" class="ui-button-like-small _light js-like-button" data-type="tiny" data-count="14" data-liked="false" data-object="longreads-article-371227">14</a>
                <a href="/articles/kak-delat-zakazyi-naaliexpress-sumom-10-klyuchevyih-nyuansov-371227/#comments" class="ui-button-comment-small _light mls">15</a>
            </div>
        </div> <!-- longread-block-wrapper -->
    </div> <!-- longread-block -->
</li> 

