@using Domain.Core.Enums
@model List<string>
<div class="row">
    @if (Model != null)
    {
        var arrayCater = Enum.GetValues(typeof(Category));
        foreach (var category in arrayCater)
        {
            <div class="col-md-4">
                <input type="checkbox" id="@category" value="@category" class="checkCategory" @*checked="@{Model.Contains(category) ? checked : String.Empty}"*@/>
                <label for="@category">@category</label>
            </div>
        }
    }
</div>

